/**
* Flex Containers
***/
li {
  list-style: none;
}

body {
  background-color: rgba(228, 236, 239, 0.8);
}

.home {
  background-color: white;
  border: 5px solid #BBA9B3;
  padding: 15px;
}

p, li, ul, ol, section, body {
  font-family: 'Raleway';
  color: #444;
}


h1, h2, h3 {
  font-family: 'Cardo', 'Merriweather', 'Crimson+Text', 'Lora', 'Raleway', 'Roboto', serif;
  letter-spacing: 1px;
    color: #8c0052;
}
