// ============ FLUID FONT SIZING VARS ============
$min_width: 400px;
$max_width: 1200px;
$min_font: 12px;
$max_font: 24px;
$mod_1: 1.3; // mobile
$mod_2: 1.5; // desktop


$header_mod: 15;
$teeny_tiny_space: 0.02em;
$teensy_space: 0.15em;
$lightblue: #c7d4db;
$lightpink: #fcccc4;
$lightyellow: #fde6bb;
$black: #272324;
$darkgrey: #4b4c4e;
$darkergrey: #333;
// ============ GLOBALS  ============
html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-family: $base-font-family;
  letter-spacing: $teeny_tiny_space;
  color: grey;
}

h2 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
}
h3 {
  font-size: $mod_1*$mod_1 *1rem;
}

body {
  box-sizing: border-box;
  // background-size: 100%;
  // background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
p, div, ul, ol, li, section{
  font-size: $mod_1*$mod_1 *1rem;
  color: white;
}

a {
  font-size: $mod_1*$mod_1 *1rem;
  text-decoration: none;
  color: white;
  padding-bottom: $teeny_tiny_space;
  .link-text {
    border-bottom: 0.01em solid $darkgrey;
  }
}
a:hover {
  color: white;
  .link-text {
    border-bottom: $teeny_tiny_space solid $darkergrey;
  }
}
