/**
* Flex Containers
***/

$min-font: 16;
$max-font: 54;
$max-screen: 800;
$min-screen: 400;
body {
  box-sizing: border-box;
  font-size: calc( 16px + (200 - 16) * (100vw - 400px) / (800 - 400));
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}
p, div, ul, ol, li {
  font-size: 1em;
}

.home {
  background-color: white;
  border: 5px solid #BBA9B3;
  padding: 15px;
}

p, li, ul, ol, section, body {
  font-family: 'Raleway';
  color: #666;
}


h1, h2, h3 {
  font-family: 'Cardo', 'Merriweather', 'Crimson+Text', 'Lora', 'Raleway', 'Roboto', serif;
  letter-spacing: 1px;
    color: #666;
}

.squiggle-container{
  .test-circle {
    // margin: 50px;
    cy: 50%;
    r: 70px;
    stroke: #CCC;
    stroke-width: 3;
  }
  .svg-div{
    width: 200px;
    height: 200px;
    float: left;
  }
  #test-1 {
    fill: rgba(0, 255, 252, 0.33);
    cx: 50%;
  }
  #test-2 {
    fill: rgba(255, 74, 193, 0.82);
    cx: 50%;
  }
  #test-3 {
    fill: rgba(255, 239, 74, 0.82);
    cx: 50%;
  }
}

.test-circle, .msg {
    // border: 1px solid #48484A;
    // font-size: 40px;
    animation: fadeInLoad 5s;
}
@keyframes fadeInLoad {
    from {
        opacity:0;
        r: 0px;
    }
    to {
        opacity:1;
        r: 70px;
    }
}

.test-circle:hover {
  stroke-width: 10px;
}
