// ============ FLUID FONT SIZING VARS ============
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;
$mod_1: 1.3; // mobile
$mod_2: 1.5; // desktop
$teeny_tiny_space: 0.02em;
$teensy_space: 0.15em;
$darkest: rgba(0, 0, 0, 0.9);
$darker: rgba(0, 0, 0, 0.7);
$medium: rgba(0, 0, 0, 0.6);
$light: rgba(0, 0, 0, 0.2);
$purplegrey: rgba(70, 30, 70, 0.8);


// ============ GLOBALS  ============
html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-family: $base-font-family;
  letter-spacing: $teeny_tiny_space;
  color: $medium;
}

h1 {
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

h2 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h3 {
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}

body {
  box-sizing: border-box;
  background:
  linear-gradient(
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.75)
  ),url('../img/test.jpg');
  background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
  margin: 0;
  padding: 0;
}

p, div, ul, ol, li, section{
  font-size: $mod_1*$mod_1 *1rem;
  color: $medium;
}

a {
  font-size: $mod_1*$mod_1 *1rem;
  text-decoration: none;
  color: #3e3a46;
  padding-bottom: $teeny_tiny_space;
  .link-text {
    border-bottom: 0.01em solid $purplegrey;
  }
}
a:hover {
  color: $darker;
  padding-bottom: 0;
  .link-text {
    border-bottom: $teeny_tiny_space solid $purplegrey;
  }
}

//  ============ HEADER  =========
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}
//  ============ NAV  ============
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .nav-link {
    margin: $teensy_space;
    border-style: 2em solid $light;
    width: 10rem;
    line-height: 10rem;
    text-align: center;
    justify-content: center;
    display: inline-block;
    padding: 0.05rem;
    -webkit-animation: fadeInLoad 3s forwards;
    animation: fadeInLoad 3s forwards;
  }
  .link-text {
    opacity: 0;
    -webkit-animation: fadeInText 1s forwards;
    -webkit-animation-delay: 2s;
    animation: fadeInText 1s forwards;
    animation-delay: 2s;
  }
  #test-1 {
    background-color: rgba(0, 255, 252, 0.33);
  }
  #test-2 {
    background-color: rgba(255, 74, 193, 0.82);
  }
  #test-3 {
    background-color: rgba(255, 239, 74, 0.82);
  }
}


@keyframes fadeInLoad {
    0% {
        opacity: 0;
        width: 0;
        transform: scaleY(0);
    }
    50% {
      width: 10rem;
      transform: scaleY(.1);
    }
    100% {
        opacity:1;
        min-height: 10rem;
        transform: scaleY(1);
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

.nav-link:hover {
  opacity: 1;
  border: 0.05rem solid $light;
  padding: 0;
  color: $purplegrey;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}


// ========= main ========
// main {
//   background-image: url('../../img/test.jpg') grayscale(100%);
//   // filter: ;
// }
