html {
  box-sizing: border-box;
  // background:#eeeeee;
  font-family:"Raleway","Roboto",sans-serif;
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  max-width: 700px;
  // margin: 70px auto;
  background:white;
  padding:40px;
  text-align: justify;
  transform: scale(0.97);
  transition: transform 0.5s;
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  text-align: center;
  height:100vh;
  background: linear-gradient(rgba(20,175,181,0.7), rgba(20,175,181,1)),url('davisville_midres.jpg') no-repeat center center fixed;
  // background:url('davisville_midres.jpg') bottom center no-repeat;
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
}

h1 {
  color:white;
  font-size: 5rem;
  max-width:80%;
}
header p {
  color: #fbcb5f;
  font-weight: 400;
  max-width: 80%;
  border-top: 2px solid white;
  padding-top:2rem;
}
nav {
  background:rgba(20,175,181,1);
  border: 1px solid #fbcb5f;
  color: #fbcb5f;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: fixed;
  z-index: 1;
  height: 10vh;
}

.fixed-nav nav {
  position: fixed;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
  height:100%;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

li.logo {
  max-width:0;
  overflow: hidden;
  background:rgba(20,175,181,1);
  color: #fbcb5f;;
  transition: all .5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color: #fbcb5f;
}

body.fixed-nav li.logo {
  max-width: 150px;
}
nav a {
  text-decoration: none;
  padding:20px;
  display: inline-block;
  color: #fbcb5f;
  transition:all 0.2s;
  text-transform: uppercase;
}
nav li:hover, nav a:hover {
  color: white;
  background-color: #119ba9;
}
 h2 {
   font-size:2rem;
 }
.site-wrap section {
  padding-top: 4rem;
  min-height: 100vh;
}

@media screen and (max-width: 480px) {
    h1 { font-size: 3rem;}
    .site-wrap section {
      padding-top: 3rem;}
}
