
body {
  box-sizing: border-box;
}
.home {
  width: 66%;
  height: 66%;
  margin: 0 auto;
  border: 1px #eee solid;
  box-shadow: 1px 1px 4px 1px #ccc;
}

.social-point {
  display: inline-block;
  float: left;
  min-height: 40px;
  padding: 0 0;
  margin: 0 0;
}

header {
  border: 1px #eee solid;
  box-shadow: 1px 1px 4px 1px #ccc;
  padding: 10px 10px;
  margin: 15px 10px;
}
.li-skills {
  border: 1px #eee solid;
  box-shadow: 1px 1px 4px 1px #ccc;
  padding: 10px 10px;
  // margin: 15 10px;
  width: 25%;
  // float: left;
  min-height: 200px;
  text-align: center;

}
.skillz-list, .social-cruft {
  margin: 15px 10px;
   display: flex;
   justify-content: space-between;
}
#rambles, #contact {
  display: inline-block;
  border: 1px #eee solid;
  box-shadow: 1px 1px 4px 1px #ccc;
  padding: 10px 10px;
  margin: 15px 10px;
  width: 90%;
}

ul {
  margin: 0 0;
  padding: 0 0;
  -webkit-padding-start: 0;
}
