<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body style="background-color:black;">

  <header>
    <div class='header-contents'>
    <a href='#welcome'>
    <div class="svg-container" tabindex="0" >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <g>
          <polyline
            class='shape'
            points="-9,0 -9,96 96,99 93,-9 -8,-2 0,101 101,97 100,0 -8,-5 -8,102 102,96 101,-8 0,-3 -2,97 97,97 100,-2 8,-3 -8,98 98,96 102,-8 2,3 -5,100 100,97 101,-5 5,-3 0,101 101,100 99,0 -3,5 -3,100 100,103 97,-3 -2,5 8,102 102,96 96,8 -4,0 -3,101 101,98 97,-3 -8,-2 2,99 99,101 96,2 -8,-5 3,97 97,96 97,3 -1,0 5,96 96,101 100,5 -3,8 -3,97 97,102 103,-3 -3,2 -3,96 96,97 96,-3" fill='none'/>
          <polyline
            class='shape shape2'
            points="2,0 4,96 96,99 98,9 7,2 0,101 101,97 100,0 1,5 3,102 102,96 101,8 0,3 2,97 97,97 100,2 7,3 4,98 93,96 102,8 2,3 5,100 100,97 101,5 5,3 0,101 101,100 99,0 3,5 4,100 100,103 97,3 2,5 6,102 102,96 96,8 4,0 3,101 101,98 97,3 3,2 2,99 99,101 96,2 3,5 6,97 97,96 97,3 1,0 5,96 96,101 100,5 3,8 1,97 97,102 103,3 3,2 4,96 96,97 96,3" fill='none'/>
        </g>
      </svg>
      </div>
      <div class='welcome'>
        <text stroke="white" text-anchor="middle" class='welcome-text'>Welcome</text>
      </div>
    </a>
    </div>
  </header>

    <!-- {% include footer.html %} -->
  </div>
  </body>
   <script>
    // headerbox.classList.add('shift-left');
    const header = document.querySelector('.header-contents');

    header.addEventListener('click', function(){
   header.classList.add('shift-left');
    this.style.width = '10%'
    this.style.height = '100%';
    this.style.marginLeft = '0';
    svgAnimation = document.querySelector('svg');
    svgAnimation.style.opacity = '0';
    welcomeText = document.querySelector('.welcome');
    welcomeText.style.opacity = '0';
    // this.appendChild()

  }, false );
   </script>
</html>
