<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

  <header>
    <h1> Welcome </h1>
  </header>
    <main class="page-content" aria-label="Content">
      <nav class="wrapper">
          <a href='#' class='nav-link' id='test-1'>
            <span class='link-text'>Projects</span>
        </a>
        <a href='#' class='nav-link' id='test-2'>
          <span class='link-text'>
            Blog
          </span>
        </a>
        <a href='#' class='nav-link' id='test-3'>
          <span class='link-text'>
            About
          </span>
        </a>
      </nav>
    </main>

    <!-- {% include footer.html %} -->

  </body>

</html>
